{{ define "main" }}

<main class="container mx-auto">

    <article class="p-3 lg:p-6">

        <section class="text-purple-50">
            <div class="bg-purple-800 border border-purple-600 p-3 my-6 rounded relative text-center">
                <h1 class="text-3xl font-bold text-purple-50">{{ .Title }}</h1>
            </div>
            
                {{ .Content }}
                <p class="text-white">
                    {{ $title := "Contact" }}
                    {{ if not (eq $title .Page.Title) }}
                    {{ if .Date }} {{ .Date.Format "02/01/2006" }} | {{ end }} {{ .Site.Params.author | default "Anonymous" }}
                    {{ end }}
                </p>
            </section>
            
        </article>

    </main>


{{ end }}