{{ define "main" }}

<main class="container mx-auto">
    <!--https://tailwind-elements.com/docs/standard/components/gallery/-->
    <article class="p-3 lg:p-6">

        <section class="text-purple-50">
            <div class="">
                <div class="bg-purple-800 border border-purple-600 p-3 my-6 rounded relative text-center">
                    <h1 class="text-3xl font-bold text-purple-50">{{ .Title }}</h1>
                </div>
                <ul class="-m-1 flex flex-wrap md:-m-2 gallery">

                    <li class="flex w-1/3 flex-wrap my-6">
                        <div class="w-full p-1 md:p-2">
                            <a href="homepage/IMG_20230719_100415.webp">
                                <img alt="Homepage image" class="block h-full w-full rounded-lg object-cover object-center shadow-xl"
                                    src="homepage/390/IMG_20230719_100415-390.webp" />
                            </a>
                        </div>
                    </li>

                    <li class="flex w-1/3 flex-wrap my-6">
                        <div class="w-full p-1 md:p-2">
                            <a href="homepage/IMG_20230719_100642.webp">
                                <img alt="Homepage image" class="block h-full w-full rounded-lg object-cover object-center shadow-xl"
                                    src="homepage/390/IMG_20230719_100642-390.webp" />
                            </a>
                        </div>
                    </li>

                    <li class="flex w-1/3 flex-wrap my-6">
                        <div class="w-full p-1 md:p-2">
                            <a href="homepage/IMG_20230719_100732.webp">
                                <img alt="Homepage image" class="block h-full w-full rounded-lg object-cover object-center shadow-xl"
                                    src="homepage/390/IMG_20230719_100732-390.webp" />
                            </a>
                        </div>
                    </li>

                    <li class="flex w-1/3 flex-wrap my-6">
                        <div class="w-full p-1 md:p-2">
                            <a href="homepage/IMG_20230719_100800.webp">
                                <img alt="Homepage image" class="block h-full w-full rounded-lg object-cover object-center shadow-xl"
                                    src="homepage/390/IMG_20230719_100800-390.webp" />
                            </a>
                        </div>
                    </li>

                    <li class="flex w-1/3 flex-wrap my-6">
                        <div class="w-full p-1 md:p-2">
                            <a href="homepage/IMG_20230719_100923.webp">
                                <img alt="Homepage image" class="block h-full w-full rounded-lg object-cover object-center shadow-xl"
                                    src="homepage/390/IMG_20230719_100923-390.webp" />
                            </a>
                        </div>
                    </li>

                    <li class="flex w-1/3 flex-wrap my-6">
                        <div class="w-full p-1 md:p-2">
                            <a href="homepage/IMG_20230719_100936.webp">
                                <img alt="Homepage image" class="block h-full w-full rounded-lg object-cover object-center shadow-xl"
                                    src="homepage/390/IMG_20230719_100936-390.webp" />
                            </a>
                        </div>
                    </li>

                    <li class="flex w-1/3 flex-wrap my-6">
                        <div class="w-full p-1 md:p-2">
                            <a href="homepage/IMG_20230719_101118.webp">
                                <img alt="Homepage image" class="block h-full w-full rounded-lg object-cover object-center shadow-xl"
                                    src="homepage/390/IMG_20230719_101118-390.webp" />
                            </a>
                        </div>
                    </li>

                    <li class="flex w-1/3 flex-wrap my-6">
                        <div class="w-full p-1 md:p-2">
                            <a href="homepage/IMG_20230719_101153.webp">
                                <img alt="Homepage image" class="block h-full w-full rounded-lg object-cover object-center shadow-xl"
                                    src="homepage/390/IMG_20230719_101153-390.webp" />
                            </a>
                        </div>
                    </li>
                  
                </ul>

                <div class="lightbox" id="lightbox">
                    <span class="close">&times;</span>
                    <div class="lightbox-content">
                        <img src="" alt="">
                    </div>
                </div>

            </div>
        </section>

    </article>

</main>

{{ end }}